.next-tours {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    top: -20px;
    width: 602px;
    height: 1364px;
    background-image: url("../img/next-tours-clouds-desktop.png");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-1199 {
      right: -307px;
      top: -95px;
    }
  }
}

.next-tours__container {
  padding-top: 121px;
  position: relative;
  padding-bottom: 125px;
  z-index: 1;

  @include vp-1199 {
    padding-top: 82px;
    padding-bottom: 86px;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.next-tours__title {
  position: relative;
  margin-bottom: 57px;
  z-index: 0;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }

  h2 {
    margin: 0;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    color: $color-elephant;

    @include vp-1199 {
      font-size: 25px;
    }

    @include vp-767 {
      width: 156px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  &::after {
    content: "Ближайшие туры";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -25%);
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    opacity: 0.03;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}


.next-tours__all-tours {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  position: relative;
  gap: 12px;
  width: fit-content;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    gap: 7px;
  }

  &::after {
    content: "";
    width: 12px;
    height: 14px;
    background-image: url("../img/sprite/icon-arrow-right.svg");
    display: inline-block;
    background-repeat: no-repeat;
  }
}


.next-tours__slider {
  margin-bottom: 52px;
  z-index: 3;

  @include vp-1199 {
    width: 98%;
    margin-bottom: 51px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 22px;
  }
}

.next-tours__slide {
  height: auto;
  position: relative;
  padding: 206px 20px 28px;

  @include vp-767 {
    padding-top: 197px;
  }
}

.next-tours__slider-buttons-wrapper {
  display: flex;
  position: absolute;
  top: -90px;
  right: 0;
  z-index: 50;
  gap: 4px;

  @include vp-1199 {
    top: -73px;
  }

  @include vp-767 {
    top: -69px;
  }
}

.next-tours__slider-next {
  rotate: 180deg;
}